
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    color: #343a40;
}

.header{
    height: 70px;
}

.container{
    display: flex;
    gap: 54px;
    /*width: 960px;*/
    /*margin: 0 auto;*/
}

.arrow-right{
    width: 16px;
}

#map{
    height: 600px;
    width: 500px;
}
