<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/indexStyles.css}" />
</head>
<body>

<header class="header">
    <div class="logo-cntr">
        <img class="logo" alt="UM Dearborn logo" th:src="@{/images/um-logo.jpg}" />
        <p class="logo-name">UMD Food Search</p>
    </div>
    <a class="log-in" href="#">Log In</a>
</header>

<main>
    <!-- HERO section -->
    <section class="hero-section">

        <div class="hero">
            <div class="text-box">
                <h1 class="heading">Food within 2 miles of your campus</h1>
                <p class="brief-description">
                    Click below for a list of places, place details and their corresponding markers on the map.
                </p>
                <a class="cta-btn" href="#" th:href="@{'/restaurants/search'}">Search</a>
            </div>

            <div class="hero-imgs">
                <img class="food-imgs" alt="food images" th:src="@{images/food-1.jpg}" />
                <!-- <img class="food-imgs" alt="food images" src="images/food-2.jpg" /> -->
            </div>
        </div>
    </section>

</main>


</body>
</html>